* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-image: url("assets/images/backgroundimage.jpg");
  height: 80vh;
  position: relative;
}

.main .box {
  height: 80vh;
  width: 100%;
  opacity: 0.44;
  background-color: #000;
  position: absolute;
  top: 0;
}
